DATABASE_URL="postgresql://postgres:password@localhost/foodtracker"
SECRET_KEY="example"
ALGORITHM="HS256"
TOKEN_EXPIRATION_TIME=300000
NO_AUTH=false
JSON_FILE_PATH="data.json"
ACCESS_TOKEN_EXPIRES_MINUTES=30
DEFAULT_USER_EMAIL="user@foodtracker.com"
DEFAULT_USER_PASSWORD="123"